# Python Virtual Environment
venv/
env/
__pycache__/
*.pyc

# ไฟล์โมเดลขนาดใหญ่และโฟลเดอร์ข้อมูล
models/resnet50_road_risk.pt
data/

# ไฟล์ตั้งค่าลับ
.env

# ระบบปฏิบัติการ
.DS_Store
Thumbs.db
#ไฟล์อื่น
changeFileName.py
check_env.py
checkFileName.py
